/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/adding-base-styles */
@layer base {
    /* @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-Bold.24e3398.woff) format("woff");
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-BoldItalic.562743c.woff) format("woff");
      font-weight: 700;
      font-style: italic;
    } */

    @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-Medium.592afe4.woff) format("woff");
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-MediumItalic.0953ed2.woff) format("woff");
      font-weight: 400;
      font-style: italic;
    }
    @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-Book.3b43709.woff) format("woff");
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-BookItalic.ec5d4ab.woff) format("woff");
      font-weight: 300;
      font-style: italic;
    }

    /* @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-Light.47523a5.woff) format("woff");
      font-weight: 100;
      font-style: normal;
    }
    @font-face {
      font-family: PostGrotesk;
      src: url(//www-kiva-org.freetls.fastly.net/static/fonts/PostGrotesk-LightItalic.cd2e576.woff) format("woff");
      font-weight: 100;
      font-style: italic;
    } */}
